.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.lists-unstyle {
    list-style: none;
}

.lists-wrap {
    display: flex;
    flex-wrap: wrap;
}

.text {
    &--white {
        color: #fff;
    }
}

.light-bg {
    background-color: $light-grey-color-1;
}

.blue-bg {
    background-color: $base-color;
}

.light-blue-bg {
    background-color: $secondary-color;
}

.light-blue-bg-2 {
    background-color: $light-blue-color-2;
}

.dark-blue-bg {
    background-color: $dark-blue-color-1;
}

.text-secondary {
    color: $base-color;
}

.text-tertiary {

}
.text-quaternary {
}