h1,
h2,
.h1,
.h2 {
    font-weight: 700;
}

h1,
.h1 {
    font-size: 2.85rem;
}

h2,
.h2 {
    font-size: 1.85rem;
}

h4,
.h4 {
    font-size: 1.42rem;
    font-weight: 500;

    @include breakpoint(desktop-max) {
        font-size: 1rem;
        letter-spacing: -0.17px;
        line-height: 1.28rem;      
    }

    @include breakpoint(mobile-max) {
        font-size: 1.43rem;
        letter-spacing: 0;
        line-height: 2rem;
    }
}

a {

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    letter-spacing: -0.31px;
    line-height: 1.29rem;

    @include breakpoint(desktop-max) {
        font-size: 0.69rem;
        line-height: 1.07rem;
    }

    @include breakpoint(mobile-max) {
        font-size: 1rem;
        letter-spacing: -0.17px;
        line-height: 1.57rem;
    }
}

ul {
    padding: 0;
    margin: 0;

    li {
        margin: 0;
    }
}

em {
    &:empty {
        display: none;
    }
}