@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rh5whp');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rh5whp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rh5whp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rh5whp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rh5whp##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-virtual-projects {
    &:before {
        content: $icon-virtual-projects;
    }
}

.icon-virtual-team {
    &:before {
        content: $icon-virtual-team;
    }
}

.icon-online-unicourse {
    &:before {
        content: $icon-online-unicourse;
    }
}

.icon-bag {
    &:before {
        content: $icon-bag;
    }
}

.icon-universities {
    &:before {
        content: $icon-universities;
    }
}

.icon-book {
    &:before {
        content: $icon-book;
    }
}

.icon-tick {
    &:before {
        content: $icon-tick;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}

.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}

.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon-vimeo {
    &:before {
        content: $icon-vimeo;
    }
}

.icon-hamburger-menu {
    &:before {
        content: $icon-hamburger-menu;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-quotes {
    &:before {
        content: $icon-quotes;
    }
}