// Fonts
$primary-font: 'Montserrat', sans-serif;

// Color
$base-color: #2F64FF;
$secondary-color: #33CAFF;
$tertiary-color: #45C0FF;
$dark-grey-color-1: #373737;
$dark-grey-color-2: #2A2626;
$dark-grey-color-3: #59595B;
$dark-grey-color-4: #151515;
$light-grey-color-1: #F5F5F5;
$dark-blue-color-1: #18009E;
$dark-blue-color-2: #13007C;
$light-blue-color-2: #99DDFF;

// Container and Grid Spacing
$container-width: 1191px;
$container-md-width: 830px;

// path
$images-path: "../images" !default;

// icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-virtual-projects: "\e900";
$icon-virtual-team: "\e901";
$icon-online-unicourse: "\e902";
$icon-bag: "\e903";
$icon-universities: "\e904";
$icon-book: "\e905";
$icon-tick: "\e906";
$icon-facebook: "\e907";
$icon-twitter: "\e908";
$icon-linkedin: "\e909";
$icon-instagram: "\e90a";
$icon-vimeo: "\e90b";
$icon-hamburger-menu: "\e90c";
$icon-close: "\e90d";
$icon-quotes: "\e90e";