.btn {
    font-weight: 700;
    letter-spacing: -0.31px;
    line-height: 1.29rem;
    padding: 0.57rem 1.35rem;
    border-radius: 0.42rem;
    display: inline-block;

    &:hover,
    &:focus {
        box-shadow: none;
        box-shadow: 0 12px 24px -7px rgba(0,0,0,0.5);
    }    

    &--primary {
        color: #fff;
        background-color: $base-color;
        @include transition();
        border: none;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $dark-blue-color-1;
        }
        
    }

    &--primary-border {
        color: $base-color;
        background-color: #fff;
        padding: 0.35rem 1.14rem;
        border: 0.21rem solid $base-color;
        
        &:hover,
        &:focus {
            color: #fff;
            background-color: $dark-blue-color-1;
            border-color: $dark-blue-color-1;
        }
    }
}